<nav>
  <div class="navTitle"><h3><a href="/">productTrakr</a></h3></div>
  <div>
    <ul>
      <% if (currentUser) { %>
        <li><a href="/users/profile"><%=currentUserDisplayName%></a></li>
        <li><a href="/users/<%=currentUserId%>/edit">Edit Profile</a></li>
      <% } %>
      <li><a href="/users/logout">Log Out</a></li>
    </ul>
  </div>
</nav>