<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<body>
  <% if (!user) { %>
    Not Logged in
    <a href="/users/login">Please Log In</a>
  <% } else { %>
    Currently Logged in as: <a href="/users/profile"><%= user.username %></a>
    <a href="/users/logout">Logout</a>
  <% } %>
</body>
</html>