<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <title>Login</title>
</head>
<body>


  <% if (user) { %>
    Already logged in as <%= user %>
    <a href="/users/logout">Logout</a>
  <% } else { %>
    <%if (err !== '') { %>
      <%=err%>
    <% } %>
    <form action="/users/login" method="POST">
      <input type="text" name="username" />
      <input type="password" name="password" />
      <input type="submit" value="Login" />
    </form>
  <% } %>


</body>
</html>