<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <title>New User</title>
</head>
<body>
  <%- include('../partials/nav.ejs') %>
  <% if (err !== '') { %>
    <p><%=err%></p>
  <% } %>
  <form class="newUserForm" action="/users/new" method="POST">
    <label for="username">User name: </label><input type="text" name="username" required />
    <label for="password">Password: </label><input type="password" name="password" required />
    <label for="displayName">Display name: </label><input type="text" name="displayName" required />
    <label for="emailAddress">Email Address: </label><input type="email" name="emailAddress" required />
    <input class="newUserFormButton" type="submit" value="Create New User" />
  </form>
  <%- include('../partials/footer.ejs') %>
</body>
</html>