<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <title>New User</title>
</head>
<body>
  <%- include('../partials/nav.ejs') %>
  <% if (err !== '') { %>
    <p><%=err%></p>
  <% } %>
  <form action="/users/new" method="POST">
    User name: <input type="text" name="username" required />
    Password: <input type="password" name="password" required />
    Display name: <input type="text" name="displayName" required />
    Email Address: <input type="email" name="emailAddress" required />
    <input type="submit" value="Add New User" />
  </form>
  <%- include('../partials/footer.ejs') %>
</body>
</html>