<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <title>Create Listing</title>
</head>
<body>
  <%- include('../partials/nav.ejs') %>

  <div class="productShowPage">
    <form class="productCreatePageForm" action="/products/new" method="POST">
      <label for="name">Name: </label><input type="text" required name="name" />
      <label for="price">Price: </label><input type="number" required name="price" />
      <label for="imageUrl">Image URL: </label><input type="text" name="imageUrl" />
      <label for="originalUrl">Original URL: </label><input type="text" name="originalUrl" />
      <label for="tags">Tags: </label><input type="text" name="tags" />
      <input class="createNewProductButton" type="submit" value="Create New Product" />
    </form>
    
  </div>


  <!-- <div class="productShowPage">
    < if (product.imageUrl) { >
      <img class="profileProductImage" alt="<=product.name>" src="<=product.imageUrl>" />
    < } else { >
      <img class="profileProductImage" alt="No Image Available" src="/images/placeholder.png" />
    < } >
    <div class="productShowPageHeadline"><h1><=product.name></h1><h2>$<=product.price></h2></div>
    <span>Product Origin:</span>
    <h3><a href="<=product.originalUrl>"><=product.originalUrl></a></h3>
    <h3>Tags: <=product.tags></h3>
    <div class="showProductActions">
      <a class="showProductActionsEditButton" href="/products/<=product._id>/edit">Edit Product</a>
      <form action="/products/<=product._id>?_method=DELETE" method="POST">
        <input class="showProductActionsDeleteButton" type="submit" value="DELETE" />
      </form>
    </div>
  </div>
  <div class="profileProductPageBack">
    <a href="/users/profile">Return to Profile</a>
  </div> -->

  <%- include('../partials/footer.ejs') %>

</body>
</html>