:root {
  --color-1: #f1f6f9;
  --color-2: #9BA4B4;
  --color-3: #394867;
  --color-4: #14274E;
  --cta: #db6400;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: var(--color-1);
  margin: 0;
  overflow-x: hidden;
}

.container {
  min-height: 100vh;
  position: relative;
}

/* BEGIN STYLES FOR NAV PARTIAL */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-4);
  color: var(--color-1);
}

nav a {
  text-decoration: none;
}

nav a:visited {
  color: var(--color-1)
}

nav a:hover {
  color: var(--color-3)
}

.navTitle {
  padding-left: 2rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  padding-right: 2rem;
  list-style: none;
}

/* END STYLES FOR NAV PARTIAL */

/* BEGIN STYLES FOR FOOTER */

/* Fix for footer: https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: var(--color-4);
  color: var(--color-1);
  padding: .25rem;
}

/* END STYLES FOR FOOTER */

/* BEGIN STYLES FOR LOGIN FORM */

.loginForm {
  width: 400px;
  margin: 3rem auto;
  padding: 2rem 0;
  background-color: var(--color-4);
  border-radius: 10px;
}

.loginForm label {
  margin: 0 auto;
  color: var(--color-1);
}

.loginForm form {
  display: flex;
  flex-direction: column;
}

.loginForm input {
  width: 60%;
  margin: .5rem auto;
  padding: .4rem;
  border: none;
  border-radius: 5px;
}

.loginFormButton {
  background-color: var(--cta);
  color: var(--color-1);
  font-size: 1.25rem;
  text-transform: uppercase;
}

.loginFormButton:hover {
  transform: scale(1.1);
  transition: .2s
}

/* END STYLES FOR LOGIN FORM */

/* BEGIN STYLES FOR USER PROFILE PAGE */

.productListInProfile {
  width: 70%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productInProfile {
  width: 300px;
  border-radius: 10px;
  background-color: var(--color-2);
}

.profileProductImage {
  margin: auto;
  max-width: 300px;
}

.productDetailsInProfile {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.productListInProfile a, .productListInProfile a:visited {
  color: var(--color-4);
  text-decoration: none;
}

.productListInProfile a:hover {
  transform: scale(1.04);
  transition: .2s;
  
}

.productDetailsInProfile h3, h4 {
  margin: 0;
  padding: .75rem;
}

.originalUrlLink {
  position: absolute;
}

.myProductsH1 {
  text-align: center;
}

.customersContainer {
  width: 60%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.customerInContainer {
  background-color: var(--color-2);
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.customerInContainer a, .customerInContainer a:visited {
  color: var(--color-1);
  text-decoration: none;
}

.customerInContainer a:hover {
  color: var(--cta)
}

.customerInContainer span {
  display: inline-block;
  margin: .5rem;
}

.customerInContainer:nth-child(2) {
  background-color: var(--color-3);
}

.createNewCustomer {
  justify-content: center;
  background-color: var(--cta);
  padding: .25rem;
  text-align: center;
}

.createNewCustomer a, .createNewCustomer a:visited {
  color: var(--color-1)
}

.createNewCustomer a:hover {
  font-size: 1.35rem;
  transition: .3s;
}

/* END STYLES FOR USER PROFILE PAGE */

/* BEGIN STYLES FOR PRODUCT SHOW PAGE */

.productShowPage {
  width: 300px;
  margin: auto;
  padding: 1.5rem;
  color: var(--color-4);
  background-color: var(--color-2);
  border-radius: 10px;
  margin-top: 2rem;
}

.productShowPage h3 {
  margin: .5rem 0;
}

.productShowPage a, .productShowPage a:visited {
  color: var(--color-4);
  text-decoration: none;
}

.productShowPage a:hover {
  color: var(--color-1);
  text-decoration: underline;
}

.showProductActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px dashed var(--color-4);
  padding-top: .5rem;
}

.productShowPageHeadline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.showProductActionsEditButton {
  background-color: var(--color-4);
  color: var(--color-1) !important;
  padding: .25rem;
  border-radius: 5px;
}

.showProductActionsEditButton:hover {
  transform: scale(1.1);
  transition: .2s;
  text-decoration: none !important;
}

.showProductActionsDeleteButton {
  border: none;
  background-color: #aa0000;
  color: var(--color-1) !important;
  cursor: pointer;
  padding: .25rem;
  border-radius: 5px;
  color: var(--color-4);
}

.showProductActionsDeleteButton:hover {
  transform: scale(1.1);
  transition: .2s;
}

.profileProductPageBack {
  text-align: center;
  margin-top: 2rem;
}

/* END STYLES FOR PRODUCT SHOW PAGE */

/* BEGIN STYLES FOR NEW PRODUCT PAGE */

.productCreatePageForm {
  display: flex;
  flex-direction: column;
}

.productCreatePageForm input {
  border: none;
  border-radius: 5px;
  padding: .5rem;
  margin-bottom: .5rem;
}

.createNewProductButton {
  font-size: 1.25rem;
  color: var(--color-1);
  background-color: var(--cta);
  margin-top: .5rem;
}

.createNewProductButton:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: .2s;
}

/* END STYLES FOR NEW PRODUCT PAGE */